{% extends 'layouts/base.html' %}
{% block title %}
    Log In
{% endblock %}
{% block content %}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <img src="/static/assets/img/login.jpg" alt="login" width="500">
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                {% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endfor %}

                <form class="p-4 p-md-5  rounded-3" method="POST">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="floatingInput"
                               placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="floatingPassword"
                               placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg border-0 mb-3" type="submit"
                            style="background-color: #00EAC2">Sign in
                    </button>
                    <p><a href="{% url 'base:password-reset' %}" style="color: #00EAC2">Forgot Password?</a></p>

                    <p>Create new account sign up <a href="{% url 'base:register' %}" style="color: #00EAC2">here</a>
                    </p>
                    <hr class="my-4">
                    <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                </form>
            </div>
        </div>
    </div>
{% endblock %}