<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">#}
    {#    <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">#}

    <title>
        Django Template - {% block title %}{% endblock %} | Example
    </title>

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.css">
</head>
<body class="bg-dark">

{% include 'includes/navbar.html' %}

<main>
    {% block content %}
    {% endblock %}
</main>

{% include 'includes/scripts.html' %}

</body>

</html>