{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}
{{ form.name.errors }}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>

{% endif %}

{% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
{% endfor %}
<div class="row">
    {% for field in form.visible_fields %}
        {% for message in messages %}

        {% endfor %}
        <div class="
            {% if row == 1 %}col-12
             {% elif row == 3 %} col-sm-6
            {% else %}col-md-6
            {% endif %}"
        >
            <div class="form-group mb-2">

                {{ field.label_tag }}

                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control  form-control-lg mb-4" %}

                {% endif %}

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}

            </div>
        </div>
    {% endfor %}
</div>
