<nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container">
        <a class="navbar-brand" href="{% url 'base:home' %}" style="color: #00EAC2">Authentication</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Home</a>
                </li>
            </ul>
            <li class="nav-item dropdown" style="list-style-type: none">
                {% if user.is_authenticated %}

                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                       aria-expanded="false">
                        <img class="rounded-circle"
                             src="{{ user.userprofile.image_url }}" width="20"
                             height="20"
                             alt="{{ user.first_name }}">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'base:profile' %}">View
                            Profile</a>
                        </li>

                        <li><a class="dropdown-item" href="{% url 'base:logout' %}">Log Out</a></li>
                    </ul>

                {% else %}
                    <a class="btn border " href="{% url 'base:register' %}">Sign Up</a>

                    <a class="btn" href="{% url 'base:login' %}" style="background-color: #00EAC2">Log In</a>
                {% endif %}

            </li>

        </div>
    </div>
</nav>
